.main-article {
  grid-area: art;
  width: 55vw;
  justify-self: center;
}

.main-article-img {
  width: 55vw;
  height: auto;
}

.main-article-text {
  margin: 40px 0;
  line-height: 35px;
}

.continue-reading-btn {
  outline: none;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 2px solid mistyrose;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 300ms ease;
  color: brown;
}

.continue-reading-btn:hover {
  background-color: mistyrose;
}

@media (max-width: 1430px) {
  .main-article-img,
  .text-container {
    width: 70vw;
  }
}

@media (max-width: 1060px) {
  .main-article-img,
  .text-container {
    width: 80vw;
  }
}
