.main-article {
  grid-area: art;
  width: 55vw;
  margin: auto;
}

.main-article-img {
  width: 55vw;
  height: auto;
  display: block;
  margin: auto;
}

.main-article-text {
  margin: 40px 0;
  line-height: 35px;
}

@media (max-width: 1430px) {
  .main-article,
  .main-article-img,
  .text-container {
    width: 70vw;
  }
}

@media (max-width: 1060px) {
  .main-article,
  .main-article-img,
  .text-container {
    width: 75vw;
  }
}
