.blogpost-page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (4, auto);
  grid-template-areas:
    "hd hd hd hd"
    "bp bp bp abt"
    "bp bp bp sd"
    "ft ft ft ft";
}

@media (max-width: 1270px) {
  .blogpost-page-container {
    grid-template-areas:
      "hd hd hd hd"
      "bp bp bp bp"
      "abt abt abt abt"
      "sd sd sd sd"
      "ft ft ft ft";
  }
}
