#blogpost-heading {
  margin-top: 60px;
}

.blogpost {
  justify-self: center;
  grid-area: bp;
  width: 55vw;
}

figure {
  margin: auto;
  text-align: center;
}

figcaption {
  margin: -20px 0 50px 0;
  padding: 0;
  font-size: 14px;
}

.blogpost-img {
  width: 55vw;
  margin-bottom: 40px;
}

.blogpost-text {
  margin: 40px 0;
  line-height: 35px;
}

blockquote {
  width: 40vw;
  height: auto;
  background: rgba(255, 228, 225, 0.3);
  border-left: 10px solid brown;
  margin: 60px 0 0 0;
  padding: 10px;
  line-height: 40px;
}

blockquote:before {
  color: brown;
  content: open-quote;
  font-size: 70px;
  line-height: 5px;
  margin-right: 7px;
  vertical-align: -0.4em;
}

.blockquote-text {
  display: inline;
}

.ingredients {
  list-style: outside;
  line-height: 40px;
  margin-left: 30px;
}

.how-to {
  line-height: 30px;
}

.blogpost-subheading {
  margin-top: 30px;
  font-size: 17px;
  font-weight: normal;
}

.back {
  display: block;
  margin: 50px auto 0 auto;
}

@media (max-width: 1270px) {
  .blogpost,
  .blogpost-img {
    width: 80vw;
  }

  blockquote {
    width: 70vw;
  }
}
